{
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": false
	},
	"extends": ["airbnb", "prettier"],
	"env": {
		"browser": true,
		"jest": true
	},
	"rules": {
		"semi": [2, "never"],
		"arrow-parens": [2, "always"],
		"'operator-linebreak'": "off",
		"prefer-promise-reject-errors": ["off"],
		"react/jsx-filename-extension": ["off"],
		"react/prop-types": ["warn"],
		"no-return-assign": ["off"],
		"'class-methods-use-this'": 0,
		"'prettier": ["error"]
	}
}
