@import 'reset'
@import 'variables'
@import 'mixins'
@import 'font_sizing'
    
body
    background: $darkest

header 
    background: $primary
    display: flex
    padding: 10px
    @include all-text-white

    > .title a 
        display: flex
    

