:root {
  /**
  * Dark
  * */
  --background-1-dark: black;
  --background-2-dark: rgb(8, 8, 10);
  --background-3-dark: rgb(10, 4, 14);
  --text-1-dark: white;
  --text-2-dark: white;
  --text-3-dark: white;

  /**
  * Light
  * */
  --background-1-light: white;
  --background-2-light: white;
  --background-3-light: white;
  --text-1-light: black;
  --text-2-light: black;
  --text-3-light: black;

  /**
  * Nightly Purple
  * */
  --background-1-nightly-purple: rgb(26, 6, 71);
  --background-2-nightly-purple: rgb(91, 16, 112);
  --background-3-nightly-purple: rgb(91, 16, 112);
  --text-1-nightly-purple: rgb(232, 230, 227);
  --text-2-nightly-purple: rgb(232, 230, 227);
  --text-3-nightly-purple: rgb(232, 230, 227);

  /** 
  * Shared 
  * */

  /* Colours */
  --gold: rgb(251, 251, 52);
  --grass: rgb(36, 199, 21);

  /* Fonts */
  --title-font: "Pattaya", sans-serif;
  --body-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  /* Spacing */
  --spacing-1: 7px;
  --spacing-2: calc(2 * var(--spacing-1));
  --spacing-3: calc(3 * var(--spacing-1));
  --spacing-4: calc(4 * var(--spacing-1));
  --spacing-5: calc(5 * var(--spacing-1));
  --spacing-6: calc(6 * var(--spacing-1));
  --spacing-7: calc(7 * var(--spacing-1));
  --spacing-8: calc(8 * var(--spacing-1));
  --spacing-9: calc(9 * var(--spacing-1));
  --spacing-10: calc(10 * var(--spacing-1));
  --spacing-11: calc(11 * var(--spacing-1));
  --spacing-12: calc(12 * var(--spacing-1));
  --spacing-13: calc(13 * var(--spacing-1));
  --spacing-14: calc(14 * var(--spacing-1));
  --spacing-15: calc(15 * var(--spacing-1));
  --spacing-16: calc(16 * var(--spacing-1));
  --spacing-17: calc(17 * var(--spacing-1));
  --spacing-18: calc(18 * var(--spacing-1));
  --spacing-19: calc(19 * var(--spacing-1));
  --spacing-20: calc(20 * var(--spacing-1));

  --button-size: var(--spacing-5);
}

[data-theme=dark] {
  --background-1: var(--background-1-dark);
  --background-2: var(--background-2-dark);
  --background-3: var(--background-3-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --text-3: var(--text-3-dark);
}

[data-theme=light] {
  --background-1: var(--background-1-light);
  --background-2: var(--background-2-light);
  --background-3: var(--background-3-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --text-3: var(--text-3-light);
}

[data-theme=nightly-purple] {
  --background-1: var(--background-1-nightly-purple);
  --background-2: var(--background-2-nightly-purple);
  --background-3: var(--background-3-nightly-purple);
  --text-1: var(--text-1-nightly-purple);
  --text-2: var(--text-2-nightly-purple);
  --text-3: var(--text-3-nightly-purple);
}